body
{
	background: #DCDCDC;
	width: 100%;
}

div
{
	margin: auto;
}

.menu
{
	list-style: none;
}

.menu li
{
	float: left;
	margin: 10px 40px 0 0;
	background: black;
	border-radius: 5px;
	width: 150px;
	text-align: center;
	line-height: 40px;
}

ul li
{
	list-style: none;
}

.menu a
{
	color: #ADFF2F;
	display: block;
	height: 40px;
	font-size: 18px;
	font: bold;
	text-decoration: none;
	border-radius: 5px;
	border-style: outset;
	border-color: #ADFF2F; 
	border-width: 5px 10px 10px 5px;
}

.menu a:hover
{
	background: #ADFF2F;
	border-radius: 5px;
	color: black;
	border-style: outset;
	border-color: #32CD32;
	transition-property: background, color;
	transition-duration: 0.6s;
}

.menu ul 
{
	display: none;
}

.menu li:hover> ul 
{
	display: block;

}

#wrapper-header
{
border-style: outset;
width:90%;
height:90%;
border-color: #BEBEBE;
border-width: 5px 10px 10px 5px;
}

#header
{
width:978px;
height:120px;
margin:0 auto;

}

#logo
{
float:left;
width:200px;
height:100px;
background:url("../img/logo.png") no-repeat;

}


.info
{

	width: 100%;
height:620px;
background:url("../img/Start_Info.png") center center no-repeat;
}

.story
{
	width: 960px;
	
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid white;
	background-color: #DCDCDC;
	text-indent: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;

}

.menubar
{
	margin-top: 10px;
}



.aboutService
{
	width: 960px;
	height: 300px;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid white;
	background-color: #DCDCDC;
}

.centered
{
	margin: auto;
}