body
{
	width: 100%;
background-color: #DCDCDC;
}

h1
{
	margin-left: 300px;
}

#leftcol
{
	float: left; 
  	width: 40%; 
}

#righttcol
{
	margin-left: 21%; 
}

form li 
{
	list-style: none;
	margin-bottom: 15px;
}

label
{
	display: block;
	margin-left: 10px;
}

textarea
{
	width: 300px;
	height: 200px;
}

.checkboxes:hover::after
{
	content: attr(data-title);
	position: relative;
	display: inline;
	margin-left: 30px;
	
	
	white-space: pre;
}


