body
{
	margin: -16px 0 0 0;
	width: 100%;
}

div
{
	margin: auto;
}

.menu
{
	list-style: none;
	width: 100%;	
}

.menu li
{
	float: left;
	margin: 30px 70px 0 0;
	width: 13%;
	text-align: center;
	line-height: 40px;
}

.menu li li
{
	width: 130px;
}

ul li
{
	list-style: none;
}

.menu a
{
	color: white;
	display: block;
	font-family: sans-serif;
	font-size: 20px;
	font: bold;
	text-decoration: none;
}

.menu a:hover
{
	background: #E8F8FF;
	border-radius: 5px;
	color: black;
	transition-property: background, color;
	transition-duration: 0.8s;
}

.menu ul 
{
	display: none;
}

.menu li:hover> ul 
{
	display: block;
}

#wrapper-header
{
	background: #3E606F;
	width:100%;
	height:100%;
	min-width: 1200px;
}

#wrapper-main
{
	background: url("../img/main_auto.jpg") center no-repeat;
	width:100%;
	height:820px;
	min-width: 1200px;
}

.menu_bar
{
	width: 100%;
	height: 100px;
}

#header-main
{
	width:100%;
	height:100%;
	margin: auto;
}

#header
{
	width:100%;
	height:110px;
	margin: auto;
}

#logo
{
	float:left;
	width:300px;
	height:100px;
	background:url("../img/logo_copy.png") no-repeat;
}


.info
{
	width: 100%;
	height:620px;
	background:url("../img/Start_Info.png") center no-repeat;
}

.story
{
	width: 960px;
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid white;
	background-color: #DCDCDC;
	text-indent: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
}


.search li
{
	display: inline-block;
}

.aboutService
{
	width: 960px;
	height: 680px;
	background: url("../img/lviv3.png") center no-repeat;
}

.aboutServiceReg
{
	width: 1000px;
	height: 751px;
	background: url("../img/lvivreg3.png") center no-repeat;
}

.go
{
	width: 960px;
	margin-top: 200px;
	color: white;
	float: left;
	position: absolute;
	text-align: center;
	font-size: 40px;
}
 
.centered
{
	margin: auto;
}

.main_idea
{
	width:100%;
    height: 720px; 
}

.text_main_idea
{
	width: 500px;
	float: left;
	position: absolute;
	text-align: center;
	font-size: 40px;
	color: white;
	margin: 150px 30px 0 70%;
}

.line li
{
	margin-top: 20px;
}

.trip
{
	height: 40px;
	margin-right: 50px;
}

.line a
{
	color: white;
	font-size:40px; 
	text-decoration: none;
}

.line a:hover
{	
	color: #FFD700;
	cursor: pointer;
}

.main_idea a
{
	color: white;
	text-decoration: none;
}

.Hotchat p
{
	text-decoration: none;
	color: brown;
}

.Hotchat
{
	position: relative;
	margin-top:20px;
	text-align: center;
}

.Hotchat a
{
	color: white;
	text-decoration: none;
}

@-webkit-keyframes pulsate 
{ 
	50% 
		{ 
			color: #fff; 
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; 
		} 
}

@keyframes pulsate 
{ 
	50% 
		{ 
			color: #fff; 
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; 
		} 
}

#text 
{ 
	font-size: 40px;
	color: #B22222; 
	text-shadow: 0 -1px rgba(0,0,0,.1); 
	 
	-webkit-animation: pulsate 1.5s linear infinite; 
	animation: pulsate 1.5s linear infinite; 
}

#sidebar
{
	position: absolute;
        left:0px;
    bottom:20px;
    top:130px;
    width:300px;
    min-height: 400px;
	height: 600px;  
	display: block;
}

#fullsidebar
{
	position: absolute;
    left:0px;
    bottom:20px;
    top:330px;
    width:300px;
    min-height: 600px;
	height: 800px;
	display: none;  
}


.short_info
{
	height: 60px;
	width: 250px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	border: 1px solid white;
	font-size: 20px;
}

.short_info:hover
{
	border: 3px solid white;
}

.current_prop
{
	border: 2px solid #3E606F;
	overflow-y:scroll;
	width:300px;
    min-height: 400px;
	height: 500px;
}

.current_prop_full
{
	border: 2px solid #3E606F;
	overflow-y:scroll;
	width:300px;
    min-height: 500px;
	height: 600px;
}

.time
{
	font-size: 12px;
}

.phone
{
	font-size: 12px;
}

.footer
{
	text-align: center;
	background: #3E606F;
	color: white;
}