body
{
	background: #DCDCDC;
	width: 98%;
}

div
{
	margin: auto;
}

.menu
{
	list-style: none;
	width: 100%;

}

.menu li
{
	float: left;
	margin: 25px 70px 0 0;
	background: #292D30;
	border-radius: 5px;
	width: 180px;
	text-align: center;
	line-height: 40px;
}

ul li
{
	list-style: none;
}

.menu a
{
	color: #F5E3CD;
	display: block;
	height: 40px;
	font-size: 18px;
	font: bold;
	text-decoration: none;
	border-radius: 5px;
	border-style: outset;
	border-color: #FFFFFF; 
	border-width: 5px 10px 10px 5px;
}

.menu a:hover
{
	background: #FFFFFF;
	border-radius: 5px;
	color: black;
	border-style: outset;
	border-color: #96938E;
	transition-property: background, color;
	transition-duration: 0.6s;
}

.menu ul 
{
	display: none;
}



.menu li:hover> ul 
{
	display: block;
	
}

#wrapper-header
{
border-style: outset;
width:100%;
height:100%;
border-color: #FFFFFF;
border-width: 5px 10px 10px 5px;
background:  rgb(78, 84, 82);
}

#header
{
width:100%;
height:120px;
margin: auto;

}

#logo
{
float:left;
width:400px;
height:100px;
margin-left: 20px;
background:url("../img/number.png") no-repeat;

}


.info
{

width: 100%;
height:620px;
background:url("../img/Start_Info.png") center center no-repeat;
}

.story
{
	width: 960px;
	
	margin: auto;
	margin-bottom: 20px;
	border: 1px solid white;
	background-color: #DCDCDC;
	text-indent: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;

}

.menubar
{
	margin-top: 10px;
}



.aboutService
{
	width: 960px;
	height: 300px;
	margin: auto;
	margin-bottom: 10px;
	border: 1px solid white;
	background-color: #DCDCDC;
}

.centered
{
	margin: auto;
}

.main_idea
{
	width:100%;
    height: 615px; 
    background: url("../img/main_auto3.jpg") center no-repeat;
    border: 1px solid gray;
    margin-bottom: 20px;

}

.text_main_idea
{
	width: 500px;
	
	float: left;
	position: absolute;
	text-align: center;
	font-size: 40px;
	
	color: white;
	
	margin: 100px 30px 0 1050px;
}

.search
{
	font-size: 30px;
	

}

.search li
{
	display: inline;
}

.trip
{

	height: 30px;
	margin-right: 50px;
}

.main_idea a
{
	color: white;

	text-decoration: none;
}

.Hotchat
{
	position: absolute;
	margin: 100px 950px 0 100px;
}






@-webkit-keyframes pulsate 
{ 
	50% 
		{ 
			color: #fff; 
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; 
		} 
}

@keyframes pulsate 
{ 
	50% 
		{ 
			color: #fff; 
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; 
		} 
}

#text 
{ 
	font-size: 40px;
	color: white; 
	text-shadow: 0 -1px rgba(0,0,0,.1); 
	 
	-webkit-animation: pulsate 1.5s linear infinite; 
	animation: pulsate 1.5s linear infinite; 
}
